@import "tailwindcss";
html {
    scroll-behavior: smooth;
}

/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}
